$color--gighunter--background--dark: #16111c;

$color--gighunter--primary--purple: #6c5fc7;
$color--gighunter--primary--white: #c9c2e1;
$color--gighunter--primary--orange: #ee5d3d;
$color--gighunter--primary--green: #55c08d;

$color--gighunter--text--light: #c9c2e1;
$color--gighunter--text--dark: #16111c;


// basic colors from http://clrs.cc/
$color--basic--navy: #001f3f;
$color--basic--blue: #0074D9;
$color--basic--aqua: #7FDBFF;
$color--basic--teal: #39CCCC;
$color--basic--olive: #3D9970;
$color--basic--green: #2ECC40;
$color--basic--lime: #01FF70;
$color--basic--yellow: #FFDC00;
$color--basic--orange: #FF851B;
$color--basic--red: #FF4136;
$color--basic--fuchsia: #F012BE;
$color--basic--purple: #B10DC9;
