@import "colors";
@import "fonts";

$header-height: 108px;

.header {
  color: white;
  background-color: $color--gighunter--background--dark;
  position: fixed;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  height: $header-height;

  .header__left {
    margin: 3% auto auto 1%;
    display: inline-block;
    float: left;

  }
  .header__right {
    float: right;
    margin: 3% 2% auto auto;

    div {
      display: inline;
    }
  }

  a {
    color: white;
    font-family: $gighunter--header--font;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
  }
}

.page-body {
  padding-top: $header-height;
}
